body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(#ffe6ea, #ffd1dc);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
}

.hidden {
    display: none;
}

input {
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background: hotpink;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

/* SCRATCH */
.scratch-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.scratch-box {
    position: relative;
    width: 300px;
    height: 300px;
}

#imageCanvas {
    position: absolute;
    inset: 0;
    border-radius: 14px;
    z-index: 1;
    background: black; /* để test thấy chắc chắn */
}

#scratchCanvas {
    position: absolute;
    inset: 0;
    border-radius: 14px;
    z-index: 2;
    touch-action: none;
}
#scratchCanvas {
    touch-action: none;
}

/* GALLERY */
#gallery {
    position: fixed;
    inset: 0;
    pointer-events: none;
}

.float-img {
    position: absolute;
    width: 120px;
    border-radius: 12px;
    animation: floatUp 4.5s ease-out forwards;
    box-shadow: 0 10px 20px rgba(0,0,0,0.25);
}

@keyframes floatUp {
    from {
        transform: translateY(0) scale(0.8);
        opacity: 0;
    }
    to {
        transform: translateY(-120vh) scale(1);
        opacity: 1;
    }
}